AICover/pretrained_models
AICover/TEMP
AICover/*.pt

AICover/pyaicover/measurements
AICover/pyaicover/output
AICover/pyaicover/output_fft
AICover/pyaicover/TEMP

AICover/pyaicover/models/__pycache__
AICover/pyaicover/models/bin
AICover/pyaicover/models/datasets
AICover/pyaicover/models/logs
AICover/pyaicover/models/merged_results
AICover/pyaicover/models/pretrained_v2
AICover/pyaicover/models/spleeter
AICover/pyaicover/models/TEMP
AICover/pyaicover/models/uvr5_weights
AICover/pyaicover/models/vocal_results
AICover/pyaicover/models/weights
AICover/pyaicover/models/*.exe


AICover/pyaicover/uvr/models
AICover/pyaicover/uvr/outputs1
AICover/pyaicover/uvr/outputs2
AICover/pyaicover/uvr/outputs3
AICover/pyaicover/uvr/pred
AICover/pyaicover/uvr/temp_sample_clips

AICover/pyaicover/uvr/gui_data/fonts
AICover/pyaicover/uvr/gui_data/img
AICover/pyaicover/uvr/gui_data/saved_ensembles
AICover/pyaicover/uvr/gui_data/saved_settings


AICover/pyaitrain/models/bin
AICover/pyaitrain/models/datasets
AICover/pyaitrain/models/logs
AICover/pyaitrain/models/merged_results
AICover/pyaitrain/models/pretrained_v2
AICover/pyaitrain/models/spleeter
AICover/pyaitrain/models/TEMP
AICover/pyaitrain/models/uvr5_weights
AICover/pyaitrain/models/vocal_results
AICover/pyaitrain/models/weights
AICover/pyaitrain/models/*.exe

*.pyc
__pycache__/
.idea/
*.onnx
*.pt