cms/AICover/pretrained_models
cms/AICover/TEMP
cms/AICover/*.pt

cms/AICover/pyaicover/measurements
cms/AICover/pyaicover/output
cms/AICover/pyaicover/output_fft
cms/AICover/pyaicover/TEMP

cms/AICover/pyaicover/models/__pycache__
cms/AICover/pyaicover/models/bin
cms/AICover/pyaicover/models/datasets
cms/AICover/pyaicover/models/logs
cms/AICover/pyaicover/models/merged_results
cms/AICover/pyaicover/models/pretrained_v2
cms/AICover/pyaicover/models/spleeter
cms/AICover/pyaicover/models/TEMP
cms/AICover/pyaicover/models/uvr5_weights
cms/AICover/pyaicover/models/vocal_results
cms/AICover/pyaicover/models/weights
cms/AICover/pyaicover/models/*.exe


cms/AICover/pyaicover/uvr/models
cms/AICover/pyaicover/uvr/outputs1
cms/AICover/pyaicover/uvr/outputs2
cms/AICover/pyaicover/uvr/outputs3
cms/AICover/pyaicover/uvr/pred
cms/AICover/pyaicover/uvr/temp_sample_clips

cms/AICover/pyaicover/uvr/gui_data/fonts
cms/AICover/pyaicover/uvr/gui_data/img
cms/AICover/pyaicover/uvr/gui_data/saved_ensembles
cms/AICover/pyaicover/uvr/gui_data/saved_settings


cms/AICover/pyaitrain/models/bin
cms/AICover/pyaitrain/models/datasets
cms/AICover/pyaitrain/models/logs
cms/AICover/pyaitrain/models/merged_results
cms/AICover/pyaitrain/models/pretrained_v2
cms/AICover/pyaitrain/models/spleeter
cms/AICover/pyaitrain/models/TEMP
cms/AICover/pyaitrain/models/uvr5_weights
cms/AICover/pyaitrain/models/vocal_results
cms/AICover/pyaitrain/models/weights
cms/AICover/pyaitrain/models/*.exe

*.pyc
__pycache__/
.idea/
*.onnx
*.pt