cms/AICover/pretrained_models
cms/AICover/pytrain
cms/AICover/TEMP
cms/AICover/*.pt

cms/AICover/pyaicover/measurements
cms/AICover/pyaicover/output
cms/AICover/pyaicover/output_fft
cms/AICover/pyaicover/TEMP

cms/AICover/pyaicover/models/__pycache__
cms/AICover/pyaicover/models/bin
cms/AICover/pyaicover/models/datasets
cms/AICover/pyaicover/models/logs
cms/AICover/pyaicover/models/merged_results
cms/AICover/pyaicover/models/pretrained_v2
cms/AICover/pyaicover/models/spleeter
cms/AICover/pyaicover/models/TEMP
cms/AICover/pyaicover/models/uvr5_weights
cms/AICover/pyaicover/models/vocal_results
cms/AICover/pyaicover/models/weights
cms/AICover/pyaicover/models/*.exe

*.pyc
__pycache__/
.idea/